<div class="column">
	<nav class="panel">
		<p class="panel-heading">Evenements</p>
	
<% @annivs.each do |collaborateur| %>

		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					 <%= image_tag "anniversaire.JPG" %>
				</figure>
			</div>
			
			<div class="media-content">
				<div class="content">
					<p>
						<strong><%= collaborateur[:name] %></strong>
						<small>Anniversaire dans <%= collaborateur[:day] %> jours</small>
					</p>
				</div>
			
			</div>
		</article>
	</div>

	<% end %>
		
	</nav>

<nav class="panel">
		<p class="panel-heading">Nouveau module</p>
	


		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					 <%= image_tag "bball.png" %>
				</figure>
			</div>
			
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Le module NBA </strong>
						<br>
						<small>Pour suivre les match en direct</small>
						<br>
						<a href='/homes' class="button is-warning" >Découvir </a>
					</p>
				</div>
			
			</div>
		</article>
	</div>

	
		
	</nav>

</div>



	
